[submodule "Port"]
	path = Port
	url = https://github.com/Vilbrequin/Port.git
[submodule "DIO"]
	path = DIO
	url = https://github.com/Vilbrequin/DIO.git
[submodule "ADC"]
	path = ADC
	url = https://github.com/Vilbrequin/ADC.git
[submodule "PWM"]
	path = PWM
	url = https://github.com/Vilbrequin/PWM.git
